body{
    margin: 0px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 100vh;
}
.carte{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 45%;
    height: 80%;
}
.top{

}